/* Style for index page */

body {
    border:2px solid gray;
    margin: 5px auto;
}

nav {
    margin: 5px;
    padding: 5px;
}

/* Style fo Navigation Bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 1px solid #E7E7E7;
    background-color: #F3F3F3;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    color: #666666;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: floralwhite;
}


main {
    border:2px solid gray;
    margin: 5px;
    display: flex;
}

aside {
    border:2px solid gray;
    margin: 5px;
    padding: 5px 5px;
    flex: 25%;
}

article {
    border:2px solid gray;
    margin: 5px;
    padding: 5px 5px;
    flex: 75%;
}

footer {
    border:2px solid gray;
    margin: 5px;
}
