/* Style for body, header and nav page */

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header {

}

nav {
    margin: 5px;
}

/* Style fo Navigation Bar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 1px solid #E7E7E7;
    background-color: #F3F3F3;
}

nav li {
    float: left;
}

nav li a {
    display: inline-block;
    text-align: center;
    color: #666666;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: floralwhite;
}

/* Style for main and articles */

main {
    display: block;
    overflow: hidden;
}

article {
    display: block;
    border:2px solid gray;
    margin: 5px;
    padding: 5px 5px;
}

/* First Section, The Book Daniel */

#book-daniel {
    background: #0060DF;
    background: url("images/background/blue-acuarela.png") center center no-repeat,
        linear-gradient(to bottom, #0060DF 7%, #0095FF 100%);
    color: white;
    padding: 40px 0;
}

#book-daniel h2 {
    font-size: 36px;
    margin-bottom: 1em;
}

#book-daniel p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto 1em;
    max-width: 32em;
}

#book-daniel .content-wrapper {
    margin: 0 auto;
    padding: 0 20px;
}

.intro-section, .page-section {
    text-align: center;
}

.page-section p {
    line-height: 1.8;
}

.page-section h3 {
    font-size: 18px;
}

#logo-bible {
    font-size: 24px;
    display: block;
    margin-bottom: 1em;
}

#logo-bible::before {
    background-size: 128px 128px;
    background: url("images/logos/bible.png") no-repeat;
    height: 128px;
    width: 128px;
    content: '';
    display: block;
    padding-bottom: 10px;
    margin: 0 auto;
}

.download-button {
    display: inline-block;
    vertical-align: top;
}

ul.download-list {
    list-style-type: none;
    margin-bottom: 10px;
}

ul.download-list li {
    margin-left: 0;
}

.button.button-green, a.button:link.button-green,
a.button:visited.button-green {
    background-color: #16DA00;
    border-color: #16DA00;
    color: white;
}

.button strong, a.button:link strong {
    font-weight: 700;
}

.more-information {
    font-size: 12px;
    display: block;
    text-align: center;
}

.more-information a:link, .more-information a:visited {
    color: white;
    text-decoration: none;
}

/* Second Section, The Feactures Book */

#book-feacture {
    background: #C42482 linear-gradient(222deg, #FF272D 0, #C42482 33%,
    #AB217F 47%, #671878 84%, #4A1475 100%);
    color: white;
    padding: 60px 0;
}

#book-feacture .content-wrapper {
    width: auto;
    padding: 20px 60px;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 300px;
    position: relative;
}

#book-feacture header {
    margin-bottom: 60px;
}

#book-feacture h2.section-title {
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}

#book-feacture h2.section-title::before {
    background: white;
    border-radius: 5px;
    content: '';
    height: 5px;
    left: 50%;
    margin-left: -32px;
    position: absolute;
    top: 0;
    width: 64px;
}

#book-feacture .tagline {
    font-size: 1rem;
    margin-bottom: 40px;
}

#book-feacture ul li {
    border-bottom: 1px solid white;
    margin: 0 auto 40px;
    max-width: 30em;
    padding: 0 0 20px;
}

#book-feacture ul li.help-understand-prophecy h3 {
    background-position: center top -752px;
    min-height: 19px;
    padding-top: 40px;
}

#book-feacture h3 {
    font-weight: 700;
    margin-bottom: 20px;
}

#book-feacture ul li p {
    max-width: 20em;
    margin: 0 auto 1.25em;
}

footer {
    background-color: dodgerblue;
    border:2px solid gray;
    margin: 5px;
}

footer address {
    margin: 5px;
    color: white;
}

h1, h2, h3, h4, h5, h6, legend{
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.25em;
    padding: 0;
}

ol, ul {
    list-style: none;
}

ol, p, table, ul {
    margin-bottom: 1.25em;
}

table, ul {
    margin: 0;
    padding: 0;
}

article, aside, footer, header,
main, nav, section {
    display: block;
}

.button, a.button:link, a.button:visited {
    font-size: 16px;
    background: 0 0;
    border-radius: 2px;
    border: 2px solid;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: .9em 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: background-color .1s ease-in-out,
        border-color .1s ease-in-out;
}
